<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Template</h3>
    </div>
    <div class="panel-body">
        <a href='/translationtemplate' class="pull-left">
            <button type="button" class="btn btn-default">Back</button>
        </a>

    </div>


<% if(error) { %>
    <%=error%>
<% }%>
    <form action="/translationtemplate/create" method="post">
        <table class="table">
            <tr>
                <td>
                    Select Category
                </td>
                <td>
                    <%- Selection_Tag({
                        name: "category",
                        options: categories,
                        valueField: "translationCategoryId",
                        textField: "name",
                        class: 'form-control'
                    }) %>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="template">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Create Template">
                    <input type="button"value="Cancel" onClick="javascript:history.go(-1)">
                </td>
            </tr>
        </table>
    </form>
</div>