<div class="heading">
    Role:
</div>
<br />

<form action="/role/update" method="post">
<input type="hidden" name="roleId" value="<%=role.adminRoleId%>">
<table class="table">
    <tr>
    	<td>
    		Role
    	</td>
    	<td>
    		<input type="text" name="roleName" value="<%=role.name%>">
    	</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit"  value="Update">
            <input type="button" value="Cancel" onClick="javascript:history.go(-1)">
        </td>
    </tr>
</table>
<form>